:root {
  --color1: rgb(255, 255, 255);
  --color2: rgb(51, 196, 255);
  --color3: rgba(10, 10, 10, 0.074);
  --color4: rgb(29, 29, 29);
  --nav-heigth: 106px;/*hauteur image + margin*/
  --z-index-max: 3;
  --z-index-min: 1;
  --z-index-mid:2;
}
* {
  font-family: "Prata", serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  color: var(--color4);
}
h1,
h2 {
  text-transform: uppercase;
}
h1 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.8rem;
  padding: 1.5rem;
}

img{
  object-fit: cover;
}
header {
  background: var(--color1);
  color: var(--color4);
  width: 100%;
  top: 0;
  z-index: var(--z-index-max);
  
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 1rem;
}
.title-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-navbar > img,
#iconSearch {
  display: none;
}

#iconUser{
  background: var(--color1);
}
.hamburger {
  background: rgba(0, 0, 0, 0);
  color: var(--color4);
  border: none;
}
.fa-solid {
  padding: 0.1rem;
  cursor: pointer;
  color: var(--color4);
  text-decoration: none;
}

#connection{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top:-15rem;
  Left:50%;
  padding: 0.5rem;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

#connection input{
  margin: 0.8rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
}

#connection.loginactive{
  transition: 1s ease-out;
  top: 25rem;
}

input[name="connection"], input[name="deconnection"]{
  color: var(--color1);
  background: var(--color4);
}
/**************************************sidebar****************************/
.visible {
  position: absolute;
  width: 11.25rem;
  height: 13rem;
  top: 6.5rem;
  left: -14.5rem;
  padding: 0.5rem;
  transition: 0.5s ease-out;
  background: var(--color1);
}
li > a {
  color: var(--color4);
  font-size: 1.8rem;
  cursor: pointer;
  padding-left: 0.3rem;
}
li > a:hover {
  font-size: 2rem;
  transition: 1s;
}
.visible.active {
  left: 0;
}

/***************************************footer****************************************/
footer {
  text-align: center;
  background: var(--color4);
}
.copyright {
  color: var(--color1);
  padding: 1.8rem;
}
.social-footer {
  color: var(--color1);
  padding-bottom: 1.8rem;
}
#icon {
  margin: 0 0.6rem 0 0.6rem;
  color: var(--color1);
}
/*************************************media-query************************************/
@media screen and (min-width: 900px) {
  h3 span {
    position: relative;
    padding: 1em;
  }
  h3 span:before,
  h3 span:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background: #000;
    width: 40rem;
    top: 50%;
    margin-top: -1px;
  }
  h3 span:before {
    right: 100%;
  }
  h3 span:after {
    left: 100%;
  }
}
/*******************************************************/
@media screen and (min-width: 1024px) {
  header {
    position: fixed;
  }
  #navbar {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
  .title-navbar > img,
  #iconSearch {
    display: block;
  }
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
.login-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }
  #search-input {
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  }
  
