<footer>
      <div class="copyright">
        <p>© 2023 - blog voyage bretagne. All rights reserved</p>
      </div>
      <div class="social-footer">
        <a href="#"
          ><i id="icon" class="fa-regular fa-envelope fa-2x space"></i
        ></a>
        <a href="https://twitter.com/"
          ><i id="icon" class="fa-brands fa-twitter fa-2x space"></i
        ></a>
        <a href="https://facebook.com/"
          ><i id="icon" class="fa-brands fa-facebook fa-2x space"></i
        ></a>
      </div>
    </footer>
  </body>
</html>