<form id="connection" action="/admin" method="POST">
          <h3>Connection</h3>
          <label for="email">Email</label>
          <input name="email" type="text" autocomplete="off" id="email" />
          <label for="password">Mot de passe</label>
          <input
            name="password"
            type="password"
            autocomplete="off"
            id="password"
          />
          <!--<span>Email ou mot de passe incorrect</span>-->
          <input type="submit" name="connection" value="Connection" />
          <button><a href="/logout">Déconnexion</a></button>
</form>