<%- include("_components/header.html", {
  styles: ["formulaire"],
  title: "admin"
}) %>
<table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Pseudo</th>
          <th>email</th>
        </tr>
      </thead>
      <tbody>
        <% for(const list of lists){ %>
        <tr>
          <form class="form-user" method="POST" action="/updateUser">
            <td><%= list.id %></td>
            <td>
              <input class="edit-pseudo-input<%= list.id %>" style="display:none" type="text" name="pseudo" value="<%= list.pseudo %>">
              <p class="list-pseudo<%= list.id %>"><%= list.pseudo %></p>
            </td>
            <td>
              <input class="edit-email-input<%= list.id %>" style="display:none" type="text" name="email" value="<%= list.email %>">
              <p class="list-email<%= list.id %>"><%= list.email %></p>
            </td>
            <td>
              <button><a href="/admin/<%= list.id %>">Supprimer</a></button>
            </td>
            <td>
              <button type="button" class="btn-update<%= list.id %>" onclick="updateInfo(<%= list.id %>, '<%= list.pseudo %>', '<%= list.email %>')">Modifier</button>
            </td>
            <td>
              <input type="submit" value="Valider" />
              <input type="hidden" name="id" value="<%= list.id %>">
            </td>
            </form>
          </tr>
        <% } %>
      </tbody>
    </table>
    
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Pseudo</th>
          <th>Id Page</th>
          <th>commentaire</th>
        </tr>
      </thead>
      <tbody>
        <% for(const listComment of listComments){ %>
          <tr>
            <form class="form-user" method="POST" action="/deleteComment">
              <input type="hidden" name="id" value=<%=listComment.id%>>
            <td><%= listComment.id %></td>
            <td>
              <p class="listComment-pseudo<%= listComment.id %>"><%= listComment.pseudo %></p>
            </td>
            <td>
              <p class="listComment-them_id<%= listComment.id %>"><%= listComment.theme_id %></p>
            </td>
            <td>
              <input class="edit-comment-input<%= listComment.id %>" style="display:none" type="text">
              <p class="list-comment<%= listComment.id %>"><%= listComment.comment %></p>
            </td>
            <td>
              <p class="list-comment<%= listComment.id %>"><%= listComment.created_at %></p>
            </td>
            <td>
              <button class="btn-delete-comment">Supprimer</a></button>
            </td>
            </form>
          </tr>
        <% } %>
      </tbody>
    </table>

<%- include("_components/footer.html") %>
