<%- include("_components/header.html", {
  styles: ["page"],
  title: "crozonn"
}) %>
<main>
  <%- include("_components/login.html") %>
    <div class="section-bandeau">
      <img src="./images/photo-bandeau-crozon.jpg" width="100%" height="760px" alt="photo-glenan" />
    </div>
    <div class="title">
      <h2>Presqu'ile de Crozon</h2>
    </div>

    <div class="section-carte">
      <img class="carte-bretagne" src="./images/carte-crozon.jpg" width="100%" alt="carte-Crozon">
      <p>
        À la pointe occidentale de la Bretagne, où la terre épouse l’océan, la presqu’île de Crozon subjugue le voyageur
        par la beauté spectaculaire de ses paysages naturels.</p>
      <p>
        Ce bout de Finistère, particulièrement préservé, invite à la contemplation et à la déconnexion, mais aussi à la
        découverte, au fil de ses nombreux sentiers de randonnées ou au cœur de ses villages de charme.
      </p>
      <p>
        Dans les environs, le superbe patrimoine de Locronan et de Pleyben témoigne du riche passé de la région. Un
        paradis breton, à explorer en toute saison, en humant à plein poumons l’air du large.
      </p>
      </p>
    </div>

    <h3 class="subtitle"><span>Pointe de Dinan</span></h3>

    <div class="section-article">
      <img src="./images/photo-aerienne-pointe-de-dinan-remake.png" class="photo-left" width="100%" height="400px"
        alt="photo-aerienne-pointe-de-dinan" />
      <div class="article">
        <p>
          La pointe de Dinan (en breton Beg Dinn) est une pointe de Bretagne dans la presqu'île de Crozon, marquant la limite nord-ouest du cap de la Chèvre. Elle est située au sud de Camaret-sur-Mer, sur le territoire de la commune de Crozon.
        </p>
        <p>
        La pointe offre une vue magnifique sur l'anse de Dinan et la pointe de Pen-Hir et ses tas de pois.
        </p>
        <p>
        Une de ses extrémités forme comme une forteresse naturelle, à l'allure d'une ruine de château, avec son arche tel un pont-levis, c'est pour cela qu'on trouve souvent l'appellation château de Dinan (breton Kastell Dinn) pour cette
        formation rocheuse.
        </p>
      </div>
    </div>

    <div class="subtitle"><h3><span>L'ile vierge</span></h3></div>

    <div class="section-article">
      <img src="./images/photo-ile-vierge.jpg" class="photo-right" width="100%" height="400px" alt="photo-kerlouan2" />
      <div class="article">
        <p>
          L'île Vierge, près du village de Morgat, dissimulée au bord de l'Atlantique sur la presqu'île de Crozon, est
          classée, depuis de nombreuses années, a la 14éme place parmis les plus belles plages du monde.
        </p>
        <p>
          Ce petit coin de paradis, à deux pas du cap de la Chèvre, impressionne par ses particularités presque
          méditerranéennes : eaux turquoise, pins maritimes, criques sauvages, grottes accessibles tant par la mer que
          par la terre.
        </p>
      </div>
    </div>

    <div class="subtitle"><h3><span>Camaret Sur Mer</span></h3></div>

    <div class="section-article">
      <img src="./images/photo-camaret.jpg" class="photo-left" width="100%" height="400px" alt="photo-fouesnant" />
      <div class="article">
        <p>La commune de Camaret-sur-Mer prend place à quatre-vingt kilomètres de Brest, et à soixante-cinq kilomètres
          de Quimper.Installée à l'extrême ouest de la presqu'île de Crozon, elle est cernée par l'océan Atlantique et
          fait partie du Parc Naturel Régional de l'Armorique
        </p>
        <p>
          Peuplé depuis plusieurs millénaires, le territoire de Camaret-sur-Mer se développe principalement au Moyen
          Âge. Occupée par les Anglais lors de la Guerre de Cent ans, la commune est ensuite en partie fortifiée par
          Vauban au XVIIe siècle.
        </p>
        <p>
          Camaret-sur-Mer est appréciée autant pour son patrimoine architectural d'exception que pour ses paysages
          préservés et agréables.
        </p>>

      </div>
    </div>

    <div class="subtitle"><h3><span>Fort des Capucins</span></h3></div>

    <div class="section-article">
      <img src="./images/photo-fort-des-capucins.jpg" class="photo-right" width="100%" height="400px"
        alt="photo-fouesnant" />
      <div class="article">
        <p>
          Le fort des Capucins a été construit sur un îlot à l'entrée du goulet de Brest et relié par un pont à la côte
          de la presqu'île de Roscanvel.
        </p>
        <p>
          C'est Vauban qui, le premier, a imaginé des plans pour fortifier cet îlot, placé dans un endroit extrêmement
          stratégique, à l'entrée du goulet de Brest, et contrôlant, vers le sud, toute l'anse de Camaret.
        </p>
        <p>
          C'est en 1848 qu'on attaqua le rocher à la mine pour y faire deux plates-formes, une côté goulet pour y placer
          des canons, et une côté falaise, pour y construire un casernement pour une soixantaine d'hommes, complètement
          invisible de la mer.
        </p>
      </div>
    </div>

    <div class="subtitle"><h3><span>Carte</span></h3></div>

      <div class="carte-google-maps">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d85003.92881555854!2d-4.515939086225916!3d48.257200364640546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1677680520981!5m2!1sfr!2sfr"
          width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <h3 class="sous-title"><span>Laissez un commentaire</span></h3>
      <form action="comments/3">
      <div class="section-comments">
        <div class="comment">
          <label for="comment">Commentaire*</label><br>
          <textarea id="comment" name="comment" rows="10" cols="86"></textarea>
        </div>

        <div class="section-identifiant">
          <div class="pseudo">
            <label for="pseudo">Pseudo*</label><br>
            <input type="text" autocomplete="off" id="pseudo" />
          </div>
          <div class="email">
            <label for="email">Email*</label><br>
            <input type="text" autocomplete="off" id="email" />
          </div>
        </div>
        <p>Votre adresse e-mail ne sera pas publié. Les champs obligatoires sont indiqués avec *.</p>
        <input type="submit" value="Envoyer">
        </form>
      </div>
  </main>
  <%- include("_components/footer.html") %>